DATABASE_URL="mysql://username:password@localhost:3306/board"

AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=your_region
AWS_S3_BUCKET_NAME=your_bucket_name

JWT_SECRET_KEY=your_jwt_secret_key

A_TOKEN_EXPIRES=3600
R_TOKEN_EXPIRES=604800

MAX_COMMENT_DEPTH=3

ADMIN_BOARDS=1